.textWrapper {
    position: absolute;
    top: 90px;
    width: 464px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.87);
}
.span {
    color: #5F9595;
}
.image {
    width: 100%;
}
.wrapper {
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}

